* {
    margin: 0;
    padding: 0;
  }
  .hero {
    height: 550px;
    width: 100%;
    background-color: #fffaf0;
  }
  .vertical-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 25px 0 15px 0; */
    margin: 39px 0 ;
    font-size: 67px;
    font-weight: 600;
    color: #bbb;
    padding: auto auto;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: 34px;
    font-weight: bold;
  }
  
  .n {
    color: red;
  }
  
  .menu {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 29px;
    font-size: 18px;
    padding-right: 160px;
  }
  .mary {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: 600;
  }
  .p {
    font-size: 18px;
  }
  .image {
    width: 65%;
    height: 400px;
    background-image: url("../images/bgg.png!sw800");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    translate: 99px 52px;
  }
  .b1 {
    display: flex;
    gap: 12px;
  }
  .button {
    background-color: #fd710d;
    border: none;
    color: white;
  }
  .btn-outline {
    border: 1px solid #fd710d;
    color: #fd710d;
  }
  .about-sec {
    background-color: #fff8f3;
    heigh: 500px;
    padding: 80px 100px;
    margin-top: 70px;
  }
  .text-center {
    padding-top: 30px;
  }
  .about-sec p {
    font-size: 12px;
  }
  
  .p2 {
    font-size: 12px;
    text-align: center;
  }
  .card-text {
    font-size: 14px;
    padding: 20px 2px;
  }
  .Resume {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-weight: 600;
  }
  .row {
    font-size: 10px;
  }
  .footer-bg {
    background-color: #fff8f3;
    padding: 15px 25px;
  }
  .d-flex {
    gap: 22px;
  }
  @media(max-width:775px){
    .hero{
      width: 100%;
      height: auto;
    }
    .flex-column-reverse{
      gap:60px;
      padding-bottom: 60px;
    }
    .menu { 
      padding-right: 20px;
      font-size: 16px;
    }
    
  }
  
  